doctype 5
html(lang="en")
  head
    title Scraping test
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/bootstrap-theme.min.css')

    // if lt IE 9
      script(src='/assets/js/html5shiv.js')
      script(src='/assets/js/response.min.js')
  body
    .container
      .page-header
        <h1>Scraping example</h1>
      != links

    script(src='/assets/js/jquery-2.0.3.min.js')
    script(src='/assets/js/bootstrap.min.js')
